# markdown
## markdown
### markdown

### Insert a image
![text](https://images.unsplash.com/photo-1535498730771-e735b998cd64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)

### insert a site
[site](https://unsplash.com/s/photos/human)

### For Creating Ordered List
1. abc
2. efg
   1. a
   2. b
3. hij
   1. c
   2. d

### Symbols of Unordered List
1. adc
2. def 
   a. s
   b. i

### **BOLD AND SINGLE* ITALIC TEXT
**gitam**<br>
*gitam*

### input
### variables
### numbers,boolean
### string

In [1]:
print("hello world")

hello world

In [2]:
# variables creation
a=10
b=10
a+b

20

In [3]:
name ="Gitam"
print("university:"+ name)

university:Gitam

In [3]:
name = input("enter a name")
age =int(input("enter age"))
print("my name is",name,"my age is",age)

enter a nameggk
enter age9
my name is ggk my age is 9

## take two inputs and do the following arithmatic operations
### add,sub,mul,div

In [5]:
a =int(input("enter first number"))
b =int(input("enter second number"))
c=a+b
d=a-b
e=a*b
f=a/b
print(c)
print(d)
print(e)
print(f)

enter first number2
enter second number3
5
-1
6
0.6666666666666666

## fundamental data types
### int
### char
### string
### float
### boolean

In [6]:
a =10
b =12.09
c =5+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [7]:
c = complex(3,4)
print(c)

(3+4j)

In [10]:
c1=3+5j
c2=6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+12j)
(-3-2j)
(-17+51j)

## boolean

In [11]:

a = 10
b = 20
a>b

False

# string

In [12]:
s1 ="abc"
s2 ="xyz"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [16]:
s1 ="100"
print(type(s1))
a =int(s1)
print(type(a))
print(a)
f=1.5
a1 =int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
100
<class 'int'>
1

In [19]:
a1 =1234
print(len(str(a1)))

4

### operators
1. arithmetic operators--->+,-,*,%,//,**
2. logical operators---->and,or,not
3. relational operators----><,>,<=,>=,==,!=
4. membership operators--->in,not in

In [22]:
n1= 12
n2= 21
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1%n2)

print(n1/n2)
print(n1//n2)
print(n1**n2)

33
-9
252
12
0.5714285714285714
0
46005119909369701466112

In [21]:
# relational operators
print(n1==n2)
print(n1 !=n2)
print(n1<n2)
print(n1>n2)

False
True
True
False

In [23]:
# logical operators
n1=20
print(n1>=10 and n1<=20)
print(n1>=10 or n1<=20)
print(not n1)

True
True
False

In [27]:
n1="10"
n2="20"
print(n1>n2)
print(n1<n2)
print(n1==n2)
print(n1!=n2)
print(n1<=n2)
print(n1>=n2)

False
True
False
True
True
False

# membership operators
## in - true if value is found in sequence
## not in - true if value is not found in sequence

In [29]:
f=[1,2,3,4,"6"]
print(1 in f)
print(5 in f)
print(6 not in f)

True
False
True

## conditional statements
1.if
2.else
### syntax:
### if condition
          statement
### else:
          statement

In [4]:
n = int(input("enter a number"))
if n%2 == 0:
       print("even")
else:
       print("odd")

enter a number3
odd

In [5]:
n =int(input("enter a number"))
if n%3 == 0 and n%5==0:
    print("yes")
else:
    print("not")

enter a number15
yes

## check whether a given number is positive,negative or zero

In [12]:
n=int(input("enter a number"))
if n==0:
    print("zero")
elif n>0:
    print("negative")
else:
    print("zero")

enter a number2
negative

# check the input is leap year or not

In [21]:
n=int(input("enter the year"))
if (n%400==0) or (n%100 !=0 and n%4==0):
    print("leap year")
else:
    print("not a leap year")

enter the year2100
not a leap year

# loops

In [6]:

n=int(input("enter a number"))
for 1 in range(0,n):
i=1
while 1<=n:
    print(i,end="")
    i=i+1

IndentationError: expected an indented block (<ipython-input-6-f59c54d8d17f>, line 4)

n=int(input("enter a number:"))
i=1
s=0
while i<=n:
    if i%2==0;
    s =s+i
    i=i+1
print(s)